@model WarriorsGuild.Models.Account.ExternalLoginFailureModel
@{
	ViewBag.Title = "Login Failure";
}

<hgroup>
	<h2>@ViewBag.Title.</h2>
	<h3 class="text-danger">Unsuccessful login with service</h3>
	<h3>@Model.Message</h3>
</hgroup>
