<script type="text/html" id="add-ring-template">
	<div class="goal-grid-item">

		<!--ring Name-->
		<div class="goal-name">
			<input type="text" class="form-control" placeholder="Name" data-bind="value: dataModel.Name">
		</div>
		<!--ring Name-->
		<!--ring Image-->
		<div class="goal-image image-upload">
			@*<div class="price">
					<h4>$123</h4>
				</div>*@
		</div>
		<!--ring Image-->
		<!--ring Detail-->
		<div class="goal-detail">

			@*<div class="days-strength">
					<div class="row">

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span><i class="fa fa-clock-o"></i></span><p>7 Days</p>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<span><i class="fa fa-users"></i></span><p>25</p>
						</div>

					</div>
				</div>*@

			<textarea class="form-control" placeholder="Description" data-bind="value: dataModel.Description"></textarea>
		</div>
		<select class="form-control" id="cboType" data-bind="value: dataModel.Type, options: dataModel.RingTypes, optionsText: 'description', optionsValue: 'value', optionsCaption: 'Choose...'">
		</select>
		<button style="position: relative; overflow: hidden; width: 100%; height: 100%" data-bind="click: saveRing">
			<span data-bind="text: 'Save'"></span>
		</button>
		<!--ring Detail-->

	</div>
</script>