<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/605a6796-5cf0-4a61-80f0-ff2d484360ee/resourceGroups/WarriorsGuild/providers/Microsoft.Web/sites/warriorsguildtest</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://warriorsguildtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>042671c2-e233-4b31-b85c-bb9ad4c9e281</ProjectGuid>
    <PublishUrl>https://warriorsguildtest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$warriorsguildtest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>