@model WarriorsGuild.Models.ProfileViewModel
@using System.Security.Claims
@{
    ViewBag.Title = "Dashboard | Warriors Guild";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserIsWarrior = User.IsInRole("Warrior");
    var UserIsWarriorString = UserIsWarrior.ToString().ToLower();
    var UserIsAdmin = User.IsInRole("Admin");
    var UserIsAdminString = UserIsAdmin.ToString().ToLower();
    var HasActiveSubscription = ViewBag.HasActiveSubscription.ToString().ToLower();
    var profileId = User.FindFirstValue(claimType: "sub");
}
@using WarriorsGuild.Utilities
<!-- ko with: dashboard -->
<section class="warrior dashboard">
    <div class="container-fluid">
        <warior-header params="{
                                    showFavoriteData: false,
                                    userId: '@profileId',
                                    rankDetail: dataModel.CompletedRank
                                }"></warior-header>
        @if (!Model.ReadOnly)
        {
            <!-- ko if: !dataModel.CompletedRank() -->
            <div class="row">
                <h4 class="col-xs-12" data-bind="visible: !RetrievingRank()" style="display:none;">Complete some tasks to get ranked!</h4>
            </div>
            <!-- /ko -->
        }

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div data-bind="visible: !dataModel.WorkingRank() && !RetrievingRank()" style="display:none;">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>You're Done!</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                            <img src="~/images/logo/Warriors-Guild-icon-sm.png" alt="goal-image" class="img-placeholder" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                            <div class="row">
                                <h4>Congratulations!</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko with: dataModel.WorkingRank() -->
                <div class="row" data-bind="visible: !$parent.RetrievingRank()" style="display:none;">
                    <div class="col-xs-12">
                        <div class="row working-rank">
                            <div class="col-xs-7 header">
                                <div>
                                    <img data-bind="attr:{ src: imgSrcAttr(), title: description() }" src="~/images/logo/Warriors-Guild-icon-sm.png" alt="goal-image">
                                </div>
                                <div>
                                    <h4>RANK REQUIREMENTS</h4>
                                    <h4 data-bind="text: name(), attr:{ title: description() }"></h4>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="wg-progressbar rank"><div data-bind="style: { width: completedPercent() + '%' }"></div></div>
                                <div><span data-bind="text: completedPercent()"></span>% complete</div>
                            </div>
                        </div>
                        <div class="row" data-bind="foreach: requirements">
                            <!-- ko if: visible() -->
                            <div class="col-xs-12 text-left col-requirement" data-bind="if: !requireCross()">
                                <div class="check">
                                    <div class="squaredThree" data-bind="css: { completed: guardianReviewed() }">
                                        @if (Model.ReadOnly)
                                        {
                                            <div data-bind="attr: { id: 'rq' + $index(), checked: warriorCompleted() }"></div>
                                            <label data-bind="attr: { for: 'rq' + $index(), title: completionSummaryText() }"></label>
                                        }
                                        else
                                        {
                                            <!-- ko if: !requireAttachment() || warriorCompleted() -->
                                            <input type="checkbox" data-bind="enable: !guardianReviewed() && !$parent.pendingApproval(),
																	attr: { id: 'rq' + $index(), alt: completionSummaryText(), css: { completed: guardianReviewed() } },
																	checked: warriorCompleted(),
																	click: !warriorCompleted() ? markAsComplete : (!guardianReviewed() && !$parent.pendingApproval()) ? revertCompletion : function() {}" />
                                            <!-- /ko -->
                                            <!-- ko if: requireAttachment() && !warriorCompleted() -->
                                            <input type="checkbox" data-bind="enable: !guardianReviewed() && !$parent.pendingApproval(),
																	attr: { id: 'rq' + $index(), alt: completionSummaryText(), css: { completed: guardianReviewed() } },
																	checked: warriorCompleted()" />
                                            <!-- /ko -->
                                            <label data-bind="attr: { for: 'rq' + $index(), title: completionSummaryText() }"></label>

                                            <!-- ko if: requireAttachment() && !warriorCompleted() -->
                                            <form data-bind="imageUploader: { key: 'POC' + id,
													    id: id,
													    postUrl: warriorDashboardViewModel.proofOfCompletionUrl,
													    fileClass: 'pdf',
													    maxSize: 5000000,
													    successCallBack: function(respData) { $data.addAttachment(respData); $data.warriorCompletedTs(new Date()); } }, uniqueName: true" action="" method="post" enctype="multipart/form-data">
                                                <input type="hidden" data-bind="attr: { name: 'reqId' + $index() }, textInput: id" />
                                                <input type="hidden" data-bind="attr: { name: 'rankId' + $index() }, textInput: $parent.id" />
                                                <input type="file" data-bind="uniqueName: true" multiple />
                                            </form>
                                            <!-- /ko -->
                                        }
                                    </div>
                                </div>
                                <span class="actionToComplete" data-bind="html: `${actionToCompleteLinked()}${optional() ? ' (Optional)' : ''}`, css: { outOfReach: @UserIsWarriorString && !warriorCompleted() && ($parent.requestPromotionEnabled() || $parent.pendingApproval()) }"></span>
                                <div style="width:100%; height: 100%; opacity:.5"></div>
                            </div>
                            @if (UserIsWarrior && !Model.ReadOnly)
                            {
                                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8" data-bind="visible: requireRing() && !warriorCompleted()">
                                    <!-- ko if: (requiredRingType() === 'Silver' && $parents[1].dataModel.silverRingOptions().length > 0) || requiredRingType() === 'Gold' && $parents[1].dataModel.goldRingOptions().length > 0 || requiredRingType() === 'Platinum' && $parents[1].dataModel.platinumRingOptions().length > 0 -->
                                <div class="rankAdditionalRingRequirements">
                                    <label>Rings:</label>
                                    <!-- ko foreach: selectedRings -->
                                            <!-- ko if: $parent.requiredRingType() === 'Silver' && $parents[2].dataModel.silverRingOptions().length > 0 -->
                                        <select class="form-control" style="width:100px; display: inline-block;" data-bind="attr: { id: 'rqDdlRing' + $index() }, value: ringId, options: $parents[2].dataModel.silverRingOptions(), optionsText: 'name', optionsValue: 'ringId', optionsCaption: 'Choose...'"></select>
                                            <!-- /ko -->
                                            <!-- ko if: $parent.requiredRingType() === 'Gold' && $parents[2].dataModel.goldRingOptions().length > 0 -->
                                        <select class="form-control" style="width:100px; display: inline-block;" data-bind="attr: { id: 'rqDdlRing' + $index() }, value: ringId, options: $parents[2].dataModel.goldRingOptions(), optionsText: 'name', optionsValue: 'ringId', optionsCaption: 'Choose...'"></select>
                                            <!-- /ko -->
                                            <!-- ko if: $parent.requiredRingType() === 'Platinum' && $parents[2].dataModel.platinumRingOptions().length > 0 -->
                                        <select class="form-control" style="width:100px; display: inline-block;" data-bind="attr: { id: 'rqDdlRing' + $index() }, value: ringId, options: $parents[2].dataModel.platinumRingOptions(), optionsText: 'name', optionsValue: 'ringId', optionsCaption: 'Choose...'"></select>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                    </div>
                                        <!-- /ko -->
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10" data-bind="visible: requireCross()">
                                    <div class="row" data-bind="foreach: crossesToComplete">
                                        <h2><img style="height:40px" data-bind="attr: { src: imgSrcAttr, alt: name, title: name }" /><span data-bind="text: name"></span></h2>
                                        <cross params="{crossId: ko.observable($data.id),
                                                        hasActiveSubscription: @HasActiveSubscription,
                                                        userIsWarrior: @UserIsWarriorString, 
                                                        totalCrossWeight: $parent.weight(),
                                                        completionPercentUpdatedHandler: function(percentCompleted) { $parents[2].completionPercentUpdatedHandler($parent, percentCompleted) }
                                                        }" class="center"></cross>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8" data-bind="visible: requireRing() && warriorCompleted()">
                                    <div class="rankAdditionalRingRequirements">
                                        <label>Rings:</label>
                                        <!-- ko foreach: savedRings -->
                                            <img style="height:40px" data-bind="attr: { src: imgSrcAttr, alt: name, title: name }" />
                                        <!-- /ko -->
                                </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8" data-bind="visible: requireCross() && warriorCompleted()">
                                    <div class="row text-center" data-bind="foreach: $parents[1].dataModel.crossesToComplete">
                                        <cross params="{cross: ko.observable($data), hasActiveSubscription: @HasActiveSubscription, userIsWarrior: @UserIsWarriorString }" ></cross>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8" data-bind="if: requireAttachment() && warriorCompleted()">
                                    <div class="rankAdditionalRingRequirements">
                                        <label>Attachments:</label>
                                        <!-- ko foreach: attachments -->
                                    <a data-bind="click: $parents[2].downloadProofOfCompletionFile" style="cursor: pointer" class="btn btn-sm btn-info">
                                            <span data-bind="text:$index() + 1"></span>
                                        </a>
                                        <!-- /ko -->
                                </div>
                                </div>
                            }
                            <!-- /ko -->
                        </div>
                    </div>
                    @if (UserIsWarrior && !Model.ReadOnly)
                    {
                        <request-promotion-dialog params="{rank: $parent.dataModel.WorkingRank, onSuccess: $parent.getWorkingAndCompletedRank}"></request-promotion-dialog>
                        <div class="row text-center">
                            <div class="col-xs-12">
                                <!-- ko if: returnReason() -->
                            <div class="return-reason-label">Message from Guardian: </div><div data-bind="text: returnReason()"></div>
                                <!-- /ko -->
                            <button class="btn btn-sm btn-success" data-bind="click: function(data) { $parent.beginRequestForPromotion(data); }, visible: requestPromotionEnabled(), text: completedPercent() < 100 ? 'Submit for Promotion' : 'Request Round Table'">Submit for Promotion</button>
                                <button class="btn btn-sm btn-danger" data-bind="click: function(data) { $parent.recallRequestForPromotion(data); }, visible: completedPercent() > 0 && warriorCompleted() && pendingApproval(), text: 'Recall Request for ' + (completedPercent() < 100 ? 'Promotion' : 'Round Table')">Recall Request for Promotion</button>
                            </div>
                        </div>
                    }
                    <div class="ui-widget-overlay ui-front hidden" style="z-index: 100;"></div>
                </div>
                <!-- /ko -->
            </div>
            <div class="col-md-4 pinned-rings">
                <div data-bind="foreach: dataModel.PinnedRings(), visible: !RetrievingPinnedRings()" style="display:none;">
                    <div class="row">
                        <div class="col-xs-2 header">
                            <div>
                                <a href="#" data-bind="attr: { href: '/rings#detail?id=' + ringId}"><img data-bind="attr:{ src: imgSrcAttr, title: name }" alt="goal-image" /></a>
                            </div>
                        </div>
                        <div class="col-xs-7 title">
                            <h4>WARRIOR RING</h4>
                            <a href="#" data-bind="attr: { href: '/rings#detail?id=' + ringId}"><h4 data-bind="text: name, attr:{ title: name }"></h4></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="wg-progressbar"><div data-bind="style: { width: percentCompleted + '%' }"></div></div>
                            <div><span data-bind="text: percentCompleted"></span>% complete</div>
                        </div>
                    </div>
                </div>
                <div data-bind="foreach: dataModel.PinnedCrosses(), visible: !RetrievingPinnedCrosses()" style="display:none">
                    <div class="row">
                        <div class="col-xs-2 header">
                            <div>
                                <a href="#" data-bind="attr: { href: '/crosses#detail?id=' + crossId}"><img data-bind="attr:{ src: imgSrcAttr, title: name }" alt="goal-image" /></a>
                            </div>
                        </div>
                        <div class="col-xs-7 title">
                            <h4>CROSS</h4>
                            <a href="#" data-bind="attr: { href: '/crosses#detail?id=' + crossId}"><h4 data-bind="text: name, attr:{ title: name }"></h4></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="wg-progressbar"><div data-bind="style: { width: percentCompleted + '%' }"></div></div>
                            <div><span data-bind="text: percentCompleted"></span>% complete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /ko -->

<script>
    var warriorDashboardViewModel = @Html.Raw( Newtonsoft.Json.JsonConvert.SerializeObject( Model,
    new Newtonsoft.Json.JsonSerializerSettings
    {
        ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
    } ) );
</script>

@section Styles {
<link href="@Url.ContentVersioned("~/bundles/jquery-ui.css")" rel="stylesheet" />
}
@section Scripts{
<script src="@Url.ContentVersioned("/bundles/knockout.js")" defer></script>
<script src="@Url.ContentVersioned("/bundles/warriorDashboard.js")" defer></script>
}