@{
	ViewBag.Title = "Generic";
	Layout = "~/Views/Email/EmailLayout.cshtml";
}
<p style="text-align:center;padding-top:20px;padding-bottom:20px;">
	<span class="extra-bold">You have been invited to join the Warriors Guild beta trial!</span>
</p>
<p>
	<span class="extra-bold">Step #1</span>  Please visit <a href="https://warriorsguild.azurewebsites.net/Account/Register">https://warriorsguild.azurewebsites.net/Account/Register</a> to register your account.
</p>
<p>
	<span class="extra-bold">Step #2</span>  Check us out on <span class="extra-bold">Facebook</span>, like our page, and join our "beta trial" private group <a href="https://www.facebook.com/groups/834717263852542">https://www.facebook.com/groups/834717263852542</a>.
</p>
<p>
	<span class="extra-bold">Step #3</span>  Head over to <span class="extra-bold">YouTube</span> and subscribe to our channel <a href="https://www.youtube.com/channel/UCRVm4nyzYf-IZOj574pqbdg">https://www.youtube.com/channel/UCRVm4nyzYf-IZOj574pqbdg</a>.
</p>
<p>
	<span class="extra-bold">Questions:</span>  Reach out via Facebook Messenger or shoot us an email at <a href="mailto:beta@warriorsguild.com">beta@warriorsguild.com</a> with any questions or issues.
</p>
<p>
	Resources:<br />
	- Intro Video Link:  <a href="https://youtu.be/0Xlju4kjeGw">https://youtu.be/0Xlju4kjeGw</a>
</p>

<style>
	.extra-bold {
		font-weight:900;
	}
</style>