@model System.String
@{
	ViewBag.Title = "PasswordResetConfirmation";
	Layout = "~/Views/Email/EmailLayout.cshtml";
	ViewBag.BaseUrl = String.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Url.Content("~"));
}


Your password has been changed successfully.  If you did not perform this action, we recommend that you reset your password immediately <a href="@(ViewBag.BaseUrl)/Account/ForgotPassword">here</a>.
