:root {
	--warriors-guild-red: #af111c;
	--warriors-guild-grey: #af111c;
	--warriors-guild-white: #fff;
	--warriors-guild-black: #000;
}


.turquoise,
.green-sea,
.sun-flower,
.orange,
.emerald,
.nephrits,
.carrot,
.pumkin,
.peter-river,
.belize-hole,
.alizarin,
.pomegranate,
.amethyst,
.wisteria,
.clouds .silver,
.wet-asphalt,
.midnight-blue,
.concrete,
.asbestos,
.blood-red {
	color: #fff;
}

	.turquoise h1,
	.green-sea h1,
	.sun-flower h1,
	.orange h1,
	.emerald h1,
	.nephrits h1,
	.carrot h1,
	.pumkin h1,
	.peter-river h1,
	.belize-hole h1,
	.alizarin h1,
	.pomegranate h1,
	.amethyst h1,
	.wisteria h1,
	.clouds .silver h1,
	.wet-asphalt h1,
	.midnight-blue h1,
	.concrete h1,
	.asbestos h1,
	.blood-red h1,
	.turquoise h2,
	.green-sea h2,
	.sun-flower h2,
	.orange h2,
	.emerald h2,
	.nephrits h2,
	.carrot h2,
	.pumkin h2,
	.peter-river h2,
	.belize-hole h2,
	.alizarin h2,
	.pomegranate h2,
	.amethyst h2,
	.wisteria h2,
	.clouds .silver h2,
	.wet-asphalt h2,
	.midnight-blue h2,
	.concrete h2,
	.asbestos h2,
	.blood-red h2,
	.turquoise h3,
	.green-sea h3,
	.sun-flower h3,
	.orange h3,
	.emerald h3,
	.nephrits h3,
	.carrot h3,
	.pumkin h3,
	.peter-river h3,
	.belize-hole h3,
	.alizarin h3,
	.pomegranate h3,
	.amethyst h3,
	.wisteria h3,
	.clouds .silver h3,
	.wet-asphalt h3,
	.midnight-blue h3,
	.concrete h3,
	.asbestos h3,
	.blood-red h3,
	.turquoise h4,
	.green-sea h4,
	.sun-flower h4,
	.orange h4,
	.emerald h4,
	.nephrits h4,
	.carrot h4,
	.pumkin h4,
	.peter-river h4,
	.belize-hole h4,
	.alizarin h4,
	.pomegranate h4,
	.amethyst h4,
	.wisteria h4,
	.clouds .silver h4,
	.wet-asphalt h4,
	.midnight-blue h4,
	.concrete h4,
	.asbestos h4,
	.blood-red h4,
	.turquoise h5,
	.green-sea h5,
	.sun-flower h5,
	.orange h5,
	.emerald h5,
	.nephrits h5,
	.carrot h5,
	.pumkin h5,
	.peter-river h5,
	.belize-hole h5,
	.alizarin h5,
	.pomegranate h5,
	.amethyst h5,
	.wisteria h5,
	.clouds .silver h5,
	.wet-asphalt h5,
	.midnight-blue h5,
	.concrete h5,
	.asbestos h5,
	.blood-red h5,
	.turquoise h6,
	.green-sea h6,
	.sun-flower h6,
	.orange h6,
	.emerald h6,
	.nephrits h6,
	.carrot h6,
	.pumkin h6,
	.peter-river h6,
	.belize-hole h6,
	.alizarin h6,
	.pomegranate h6,
	.amethyst h6,
	.wisteria h6,
	.clouds .silver h6,
	.wet-asphalt h6,
	.midnight-blue h6,
	.concrete h6,
	.asbestos h6,
	.blood-red h6 {
		color: #fff;
	}

	.turquoise small,
	.green-sea small,
	.sun-flower small,
	.orange small,
	.emerald small,
	.nephrits small,
	.carrot small,
	.pumkin small,
	.peter-river small,
	.belize-hole small,
	.alizarin small,
	.pomegranate small,
	.amethyst small,
	.wisteria small,
	.clouds .silver small,
	.wet-asphalt small,
	.midnight-blue small,
	.concrete small,
	.asbestos small,
	.blood-red bmall {
		color: rgba(255, 255, 255, 0.8);
	}

.turquoise {
	background-color: #1abc9c;
}

.green-sea {
	background-color: #16a085;
}

.sun-flower {
	background-color: #f1c40f;
}

.orange {
	background-color: #f39c12;
}

.emerald {
	background-color: #2ecc71;
}

.nephritis {
	background-color: #27ae60;
}

.carrot {
	background-color: #e67e22;
}

.pumkin {
	background-color: #d35400;
}

.peter-river {
	background-color: #3498db;
}

.belize-hole {
	background-color: #2980b9;
}

.alizarin {
	background-color: #e74c3c;
}

.pomegranate {
	background-color: #c0392b;
}

.amethyst {
	background-color: #9b59b6;
}

.wisteria {
	background-color: #8e44ad;
}

.clouds {
	background-color: #ecf0f1;
}

.silver {
	background-color: #bdc3c7;
}

.wet-asphalt {
	background-color: #34495e;
}

.midnight-blue {
	background-color: #2c3e50;
}

.concrete {
	background-color: #95a5a6;
}

.asbestos {
	background-color: #7f8c8d;
}

.blood-red {
	background-color: black;
}


/*blood-red*/

.blood-red .hide-text {
	color: transparent;
	background-color: transparent;
}

.blood-red body {
	color: #34495e;
	background: #f5f5f5;
}

.blood-red a {
	color: #34495e;
}

.blood-red hr {
	border-top-color: #e5e5e5;
	border-bottom-color: #fff;
}

.blood-red .btn-transparent {
	border-color: #fff;
	background: transparent;
	color: #fff;
}

	.blood-red .btn-transparent:hover {
		border-color: rgba(255, 255, 255, 0.5);
	}

.blood-red a:hover,
.blood-red a:focus {
	color: #d9534f;
}

.blood-red a:not(.btn) {
	color: white;
}

	.blood-red a:not(.btn):hover {
		color: #d9534f;
	}

.blood-red #main-slider .carousel .btn {
	border-color: rgba(255, 255, 255, 0.5);
	color: #fff;
}

	.blood-red #main-slider .carousel .btn:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}

.blood-red #main-slider .carousel .boxed {
	background-color: rgba(0, 0, 0, 0.8);
}

.blood-red #main-slider .prev,
.blood-red #main-slider .next {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}

	.blood-red #main-slider .prev:hover,
	.blood-red #main-slider .next:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}

.blood-red #services .media:hover .icon-md {
	background-color: rgba(0, 0, 0, 0.8);
}

.blood-red .portfolio-item .item-inner {
	background: #fff;
	border: 1px solid #eee;
}

	.blood-red .portfolio-item h5 {
		background: #fff;
		color: var(--warriors-guild-red);
	}

.blood-red .portfolio-item .overlay {
	background: rgba(255, 255, 255, 0.9);
}


.blood-red #pricing-form .card,
.blood-red #pricing-table .card {
	background-color: var(--warriors-guild-red);
	color: white;
}

.blood-red #pricing-table .plan button {
	background-color: black;
	border-color: black;
}

/*.blood-red #pricing-form .inner-border, 
	.blood-red #pricing-table .inner-border {
	background: white;
}*/

/*.blood-red #pricing-table .plan li,
.blood-red #pricing-form .card {
	color: black;
}*/

.blood-red #pricing-form .plan.featured,
.blood-red #pricing-table .plan.featured {
	background-color: var(--warriors-guild-red);
}

.blood-red .progress,
.blood-red .progress .bar {
	background: #fff;
}

.blood-red ul.breadcrumb {
	background: transparent;
}

	.blood-red ul.breadcrumb > li > a,
	.blood-red ul.breadcrumb > li .divider {
		color: #fff;
	}

	.blood-red ul.breadcrumb > li.active {
		color: rgba(255, 255, 255, 0.7);
	}

.blood-red .btn-social {
	color: #fff;
}

	.blood-red .btn-social.btn-facebook {
		background: #4f7dd4;
	}

		.blood-red .btn-social.btn-facebook:hover {
			background: #789bde;
		}

	.blood-red .btn-social.btn-twitter {
		background: #5bceff;
	}

		.blood-red .btn-social.btn-twitter:hover {
			background: #8eddff;
		}

	.blood-red .btn-social.btn-linkedin {
		background: #21a6d8;
	}

		.blood-red .btn-social.btn-linkedin:hover {
			background: #49b9e3;
		}

	.blood-red .btn-social.btn-google-plus {
		background: #dc422b;
	}

		.blood-red .btn-social.btn-google-plus:hover {
			background: #e36957;
		}

	.blood-red .btn-social:hover {
		color: #fff;
	}

.blood-red .navbar-inverse {
	background-color: var(--warriors-guild-red);
}

	.blood-red .navbar-inverse .navbar-brand {
		color: #fff;
	}

	.blood-red .navbar-inverse .navbar-nav > li > a, .blood-red .navbar-inverse .navbar-nav > li > button {
		color: white;
	}

	.blood-red .navbar-inverse .navbar-nav > .active > a,
	.blood-red .navbar-inverse .navbar-nav > .active > a:hover,
	.blood-red .navbar-inverse .navbar-nav > .active > a:focus,
	.blood-red .navbar-inverse .navbar-nav > .open > a,
	.blood-red .navbar-inverse .navbar-nav > .open > a:hover,
	.blood-red .navbar-inverse .navbar-nav > .open > a:focus {
		background-color: var(--warriors-guild-red);
	}

		.blood-red .navbar-inverse .navbar-nav > .active > a,
		.blood-red .navbar-inverse .navbar-nav > .active > a:hover,
		.blood-red .navbar-inverse .navbar-nav > .active > a:focus,
		.blood-red .navbar-inverse .navbar-nav > .open > a,
		.blood-red .navbar-inverse .navbar-nav > .open > a:hover,
		.blood-red .navbar-inverse .navbar-nav > .open > a:focus {
			background-color: rgba(0, 0, 0, 0.3);
		}

	.blood-red .navbar-inverse .navbar-nav .dropdown-menu {
		background-color: var(--warriors-guild-red);
	}

		.blood-red .navbar-inverse .navbar-nav .dropdown-menu > li > a {
			color: white;
		}

		.blood-red .navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
		.blood-red .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
		.blood-red .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
			background-color: rgba(0, 0, 0, 0.3);
		}

.blood-red #social-media .icon-facebook {
	background-color: #3c5899;
}

	.blood-red #social-media .icon-facebook:hover {
		background-color: #4e6fba;
	}

.blood-red #social-media .icon-twitter {
	background-color: #29c5f6;
}

	.blood-red #social-media .icon-twitter:hover {
		background-color: #5ad2f8;
	}

.blood-red #social-media .icon-google-plus {
	background-color: #d13d2f;
}

	.blood-red #social-media .icon-google-plus:hover {
		background-color: #da6459;
	}

.blood-red #social-media .icon-pinterest {
	background-color: #c61118;
}

	.blood-red #social-media .icon-pinterest:hover {
		background-color: #ec1e26;
	}

.blood-red .icon-lg {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}

.blood-red .icon-md {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}

	.blood-red .modal .modal-header > h4 {
		/*color: #848484;*/
	}

	.blood-red .modal input,
	.blood-red .modal select,
	.blood-red .modal textarea {
		color: #848484;
	}

.blood-red .modal .icon-remove {
	color: #848484;
	background: #ebebeb;
}

.blood-red .registration-form {
	background-color: #fff;
}

.blood-red #bottom {
	color: white;
	background-color: var(--warriors-guild-red);
}

.blood-red ul.social > li > a {
	color: #666;
}

	.blood-red ul.social > li > a:hover {
		color: #999;
	}

.blood-red #footer {
	color: white;
}

	.blood-red #footer a {
		color: white;
	}

		.blood-red #footer a:hover {
			color: #d9534f;
		}

.blood-red .accordion-heading .accordion-toggle {
	color: #666;
}

.blood-red .accordion-group {
	background-color: #fff;
	border-top-color: #f0f0f0;
}

.blood-red .blog .blog-item {
	background-color: #fff;
}

	.blood-red .blog .blog-item .entry-meta > span {
		color: #999;
	}

		.blood-red .blog .blog-item .entry-meta > span a {
			color: #999;
		}

.blood-red ul.pagination > li.active > a,
.blood-red ul.pagination > li:hover > a {
	background-color: #34495e;
	color: #fff;
}

.blood-red ul.faq li span.number {
	background: #34495e;
	color: #fff;
}

.blood-red .goal-image {
	background-color: white;
}

.blood-red #side-bar .nav-stacked li {
	border-color: #e6e6e6;
}

	.blood-red #side-bar .nav-stacked li a {
		color: grey;
		border-left-color: transparent;
	}

		.blood-red #side-bar .nav-stacked li a:hover {
			background: none;
			color: #4dc3ff;
			border-left-color: #4dc3ff;
		}

	.blood-red #side-bar .nav-stacked li.active a {
		background: none;
		color: #4dc3ff;
		border-left: 6px solid #4dc3ff !important;
	}

.blood-red #goal-grid .goal-grid-item {
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

	.blood-red #goal-grid .goal-grid-item .goal-detail {
		border-color: #e6e6e6;
		background-color: white;
		color: black;
	}

	.blood-red #goal-grid .goal-grid-item:hover {
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
	}

		.blood-red #goal-grid .goal-grid-item:hover .goal-image img {
			transform: scale(1.3) rotate(5deg);
		}

	.blood-red #goal-grid .goal-grid-item .goal-name a {
		color: white;
	}

	.blood-red #goal-grid .goal-grid-item .goal-name a.pin {
		color: black;
	}

	.blood-red #goal-grid .goal-grid-item .goal-name a.unpin {
		color: white;
	}

		.blood-red #goal-grid .goal-grid-item .goal-name a.pin:hover {
			color: white;
		}

		.blood-red #goal-grid .goal-grid-item .goal-name a.unpin:hover {
			color: black;
		}

	.blood-red #goal-grid .goal-grid-item .goal-name a {
		background-color: transparent;
	}

	.blood-red #goal-grid .goal-grid-item .goal-name {
		background-color: var(--warriors-guild-red);
	}

	.blood-red #goal-grid .goal-grid-item .goal-detail .days-strength {
		background-color: #f2f2f2;
	}

	.blood-red #goal-grid .goal-grid-item .goal-image .imgUpload h4 {
		background: #ff9933;
		color: white;
		box-shadow: 2px 2px 2px grey;
	}

	.blood-red #goal-grid .goal-grid-item .goal-detail .days-strength .fa {
		color: #4dc3ff;
	}

	.blood-red #goal-grid .goal-grid-item .goal-detail .rating .fa {
		color: orange;
	}

	.blood-red #goal-grid .goal-grid-item .goal-detail .instructor-name {
		color: #4dc3ff;
	}

	.blood-red #goal-grid .goal-grid-item button {
		color: black;
	}

.blood-red .goal-detail .image-upload form h4 {
	background: #ff9933;
	color: white;
	box-shadow: 2px 2px 2px grey;
}

/**ranks Page Ends**/


/**rank Detail Page Starts**/

.blood-red #info-tabs .tab-content .tab-pane .features .feature-row .fa {
	background-color: #4dc3ff;
	color: white;
}

.blood-red #info-tabs .tab-content .tab-pane .features .feature-row p {
	color: #4dc3ff;
}

	.blood-red #info-tabs .tab-content .tab-pane .features .feature-row p span {
		color: #4d4d4d;
	}

.blood-red #side-bar .instructor .instructor-name {
	background-color: #4dc3ff;
	color: white;
}

.blood-red #side-bar .instructor .connect li {
	color: grey;
}

	.blood-red #side-bar .instructor .connect li .fa {
		color: #4dc3ff;
	}

/**rank Detail Page Ends**/

.blood-red input[type=file] {
	border-color: transparent;
}

.blood-red input:required, textarea:required {
	background-color: #fff;
}

.blood-red input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
	background-color: #fff;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

.blood-red .card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

	/* On mouse-over, add a deeper shadow */
	.blood-red .card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

.blood-red .btn-google-plus {
	background: none;
}

.blood-red .smarty-suggestion {
	color: black !important;
}

.blood-red .field-validation-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border: 1px solid transparent;
}

.blood-red .card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: var(--warriors-guild-red);
}

	/* On mouse-over, add a deeper shadow */
	.blood-red .card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

/* .squaredThree */

.blood-red .squaredThree label {
	background: linear-gradient(to bottom, #700000 0%, var(--warriors-guild-red) 100%);
}

	.blood-red .squaredThree label:after {
		border: 3px solid #fcfff4;
		border-top: none;
		border-right: none;
		background: transparent;
	}
	.blood-red .squaredThree.completed label:after {
		border-color: grey;
	}
	.blood-red span.actionToComplete.pendingApproval {
		color: grey;
	}

/* end .squaredThree */

body.blood-red .check:after {
	color: #fff;
	text-shadow: 0 1px #000;
}

.blood-red .dashboard .ring-cross-status {
	background-color: var(--warriors-guild-red);
}

.blood-red .img-placeholder {
	background-color: white;
}

.blood-red .dashboard .pinned-rings .header img,
.blood-red .dashboard .current-rank img,
.blood-red .dashboard .working-rank img {
	/*background-color: white;*/
}

.blood-red .dashboard .current-rank .imgDiv {
	background-color: var(--warriors-guild-red);
}

	.blood-red #payment-form .example.submitted .success,
	.blood-red #payment-form .example.submitting .success {
		background-color: var(--warriors-guild-red);
	}

.blood-red .modal-content {
	background-color: var(--warriors-guild-red);
}

	/*.blood-red .modal-content .modal-footer .btn-primary {
		background-color: black;
	}*/

.blood-red .modal-title {
	color: white;
}


/*.blood-red .goal-grid-item .pins > a {
	color: #34495e;
}

	.blood-red .goal-grid-item .pins > a:hover,
	.blood-red .goal-grid-item .pins > div {

{
	color: var(--warriors-guild-red);
}*/

.blood-red .btn-addnew {
	color: white;
	background-color: #0094FF;
	border-color: #0055FF;
}

.blood-red #goal-grid.crosses p.answer {
	color: goldenrod;
}

.blood-red .smarty-popup-typed-address {
	color: black;
}

.blood-red .outOfReach {
	color: grey;
}

.blood-red .ui-dialog-content h1,
.blood-red .ui-dialog-content h2
{
	color: black;
}

.blood-red hr {
	background-color: var(--warriors-guild-red);
	border-color: var(--warriors-guild-red);
}

.blood-red .actionToComplete a {
	color: var(--warriors-guild-red);
}

.blood-red .actionToComplete a:hover {
	text-decoration: underline;
}

.return-reason-label {
	color: var(--warriors-guild-red)
}

.panel,
.panel-default > .panel-heading {
	background-color: transparent;
	border-color: transparent;
}